<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<title>Estamos Capacitados - Home</title>	

  	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Helvetica + Neue", rel="stylesheet", type="text/css"/>
  </head>

  <body>
    <h2 class="bienvenido">Lista de Empresas</h2>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <select>
              <option value="" disabled selected></option>
              <option value="1">Cualquiera</option>
              <option value="2">Administración/Oficina</option>
              <option value="3">Agropecuarias</option>
              <option value="4">Construcción</option>
              <option value="5">Educación</option>
              <option value="6">Finanzas/Contabilidad</option>
              <option value="7">Hotelería</option>
              <option value="8">Informática</option>
              <option value="9">Manufactureras</option>
              <option value="10">Mayoristas</option>
              <option value="11">Medios de Comunicación</option>
              <option value="12">RRHH-Agencias de Reclutamiento</option>
              <option value="13">Salud</option>
              <option value="14">Telecomunicaciones</option>
              <option value="15">Transporte</option>
              <option value="16">Turismo</option>
              <option value="17">Venta al Consumidor</option>
              <option value="18">Otros</option>
            </select>
            <label>Industria</label>
          </div>
        </div>
        <div class="input-field s6">
          <input id="search" type="search" placeholder="Buscar" required>
          <label for="search"><i class="fa fa-search" aria-hidden="true"></i> Buscar</label>
        </div>
      </form>
    </div>
    <button id="btnContacto" class="btn waves-effect waves-light" type="submit" name="action">Buscar
      <i class="material-icons right"></i>
    </button>
  	<!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous">
    </script>
    <script src="../js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </body>
</html>